[v-cloak] {
    display: none;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 150%;
    --mainText: rgb(0, 0, 0);
    --mainColorBack: rgb(86, 86, 204);
    --subColorBack: rgb(241, 241, 241);
    --mainColorText: var(--subColorBack);
    --subColorTeste: var(--mainColorBack);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--subColorBack);
}

h1
{
    font-size: 26px;
}

#header {
    display: block;
    background-color: var(--mainColorBack);
    color: var(--mainColorText);
    margin: 0;
    padding: 10px;
}

#app {
    display: block;
    color: var(--mainText);
    margin: 0;
    padding: 10px; 
}

.tableUpload {
    display: block;
    margin: 0;
    border-collapse: collapse;
}

.tableUpload tr td {
    vertical-align: middle;
    text-align: center;
    padding: 5px;
}

img {
    display: block;
}

select, input, button {
    display: block;
    margin: 5px;
    padding: 5px;
    line-height: normal;
}

hr {
    border: 1px solid var(--mainColorBack);
} 

.tableUpload tr td.item {
    border: 1px solid var(--mainColorBack);
}
